
<div class="container my-5 border border-dark p-4 bg-warning"  >

    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <h3>Create an Account</h3>        
    
    <!-- name -->
    <div class="form-group ">
        
        <label for="name" >Enter Name</label>
        <input type="text"  class="form-control my-2 " id="name"  placeholder="Enter your name ..." formControlName ="name" name="name" >
    </div>
    <p class="text-danger m-1" *ngIf='name && name.invalid && name.touched' >Name Field Required</p>

    
    <!-- email -->
    <div class="form-group ">
        
        <label for="email" >Enter the Email</label>
        <input type="email"  class="form-control my-2 " id="email"  placeholder="Enter your Email ..." formControlName ="email" name="email" >
    </div>
    <p class="text-danger m-1" *ngIf='email && email.invalid && email.touched' >Email Field Required</p>
    

    <!-- phone number -->
    <div class="form-group ">
        
        <label for="phn" >Enter Phn Number</label>
        <input type="number"  class="form-control my-2 " id="phn"  placeholder="Enter your Phn . ..." formControlName ="phn" name="phn" >
    </div>
    <p class="text-danger m-1" *ngIf='phn && phn.invalid && phn.touched' >Phn Field Required</p>

   <br>
    <div class=" form-group ">
        
        <label for="password">Enter the password</label>
        <input type="password"  class="form-control my-2" id="password"  placeholder="Enter your password ..."  formControlName ="password"  name="password">
    </div>
    <p class="text-danger m-1" *ngIf='password && password.invalid && password.touched ' >Password Should Contain Atleast 6 Characters </p>
    
    <br>
    <div class=" form-group ">
        
        <label for="confirmPassword">Enter the Confirm Password</label>
        <input type="password"  class="form-control my-2" id="confirmPassword"  placeholder="Enter Confirm Password ..."  formControlName ="confirmPassword"  name="confirmPassword">
    </div>
    <p class="text-danger m-1" *ngIf='confirmPassword && confirmPassword.invalid && confirmPassword.touched ' >Confirm Password Should Contain Atleast 6 Characters </p>
    
    <br>
    <div class=" form-group ">
        
        <label for="country">Enter your Country</label>
        <input type="text"  class="form-control my-2" id="country"  placeholder="Enter your country ..."  formControlName ="country"  name="country">
    </div>
    <p class="text-danger m-1" *ngIf='country && country.invalid && country.touched ' >Password Should Contain Atleast 6 Characters </p>
    <br>
    <div>
        <button type="submit" class="btn btn-success" id="submitButton"  [disabled]=" name && name.invalid || password && password.invalid || confirmPassword && confirmPassword.invalid || email && email.invalid || phn && phn.invalid || country && country.invalid" >Register Now </button>
        <!-- <button (click)="check()"  class="btn btn-primary m-2">Check </button> -->
    </div>

    

    
 </form>

 

</div> 